.idea
.DS_Store
app_python/*/__pycache__/
app_python/*/.pytest_cache/
app_python/*/venv/
app_python/.DS_Store
app_python/Dockerfile
app_python/*/venv
terraform/*/terraform.tfvars
terraform/*/terraform.tfstate
terraform/*/.terraform*
terraform/*/virtualbox.box
ansible/.vagrant
ansible/ubuntu-bionic-18.04-cloudimg-console.log
